/* begin Page */
/* Created by Artisteer v3.0.0.45570 */

#main, table
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

.postcontent,
.postcontent li,
.postcontent table,
.postcontent a,
.postcontent a:link,
.postcontent a:visited,
.postcontent a.visited,
.postcontent a:hover,
.postcontent a.hovered
{
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.postcontent p
{
    margin: 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.postcontent a
{
  text-decoration: underline;
  letter-spacing: 1px;
  color: #B8CB58;
}

.postcontent a:link
{
  text-decoration: underline;
  letter-spacing: 1px;
  color: #B8CB58;
}

.postcontent a:visited, .postcontent a.visited
{
  color: #B7BD9E;
}

.postcontent  a:hover, .postcontent a.hover
{
  text-decoration: none;
  color: #CAD883;
}

.postcontent h1
{
   color: #CAD883;
margin: 19px 0;    
}

.blockcontent h1
{
margin: 19px 0; 
}

.postcontent h2
{
   color: #CAD883;
margin: 19px 0;
   font-weight: normal;
   font-size: 26px;    
}

.blockcontent h2
{
margin: 19px 0;
   font-weight: normal;
   font-size: 26px; 
}

.postcontent h2 a, .postcontent h2 a:link, .postcontent h2 a:hover, .postcontent h2 a:visited, .blockcontent h2 a, .blockcontent h2 a:link, .blockcontent h2 a:hover, .blockcontent h2 a:visited 
{
   font-weight: normal;
   font-size: 26px; 
}

.postcontent h3
{
   color: #B7BD9E;
margin: 22px 0;
   font-size: 24px;    
}

.blockcontent h3
{
margin: 22px 0;
   font-size: 24px; 
}

.postcontent h3 a, .postcontent h3 a:link, .postcontent h3 a:hover, .postcontent h3 a:visited, .blockcontent h3 a, .blockcontent h3 a:link, .blockcontent h3 a:hover, .blockcontent h3 a:visited 
{
   font-size: 24px; 
}

.postcontent h4
{
   color: #C2D26F;
margin: 22px 0;
   font-size: 20px;    
}

.blockcontent h4
{
margin: 22px 0;
   font-size: 20px; 
}

.postcontent h4 a, .postcontent h4 a:link, .postcontent h4 a:hover, .postcontent h4 a:visited, .blockcontent h4 a, .blockcontent h4 a:link, .blockcontent h4 a:hover, .blockcontent h4 a:visited 
{
   font-size: 20px; 
}

.postcontent h5
{
   color: #C2D26F;
margin: 27px 0;
   font-size: 18px;    
}

.blockcontent h5
{
margin: 27px 0;
   font-size: 18px; 
}

.postcontent h5 a, .postcontent h5 a:link, .postcontent h5 a:hover, .postcontent h5 a:visited, .blockcontent h5 a, .blockcontent h5 a:link, .blockcontent h5 a:hover, .blockcontent h5 a:visited 
{
   font-size: 18px; 
}

.postcontent h6
{
   color: #A2B739;
margin: 32px 0;
   font-size: 15px;    
}

.blockcontent h6
{
margin: 32px 0;
   font-size: 15px; 
}

.postcontent h6 a, .postcontent h6 a:link, .postcontent h6 a:hover, .postcontent h6 a:visited, .blockcontent h6 a, .blockcontent h6 a:link, .blockcontent h6 a:hover, .blockcontent h6 a:visited 
{
   font-size: 15px; 
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html 
{
    height:100%;
}

#main
{
  position: relative;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
  overflow:visible;
}

#page-background-glare
{
  position: absolute;
  left: 0;
  top:0;
  width:450px;
  height:382px;
  overflow:hidden;
  min-width: 800px;
}

#page-background-glare-image
{
  position: fixed;
  width:450px;
  top: 0;
  height:382px;
  background-image: url('images/page_gl.png');
  background-repeat: no-repeat;
}

html:first-child #page-background-glare
{
  border: 1px solid transparent; /* Opera fix */
}

body
{
  padding: 0; 
  margin:0;
  color: #CDD1BC;
  height:100%;
  min-height:100%;
  background-color: #C9CDB6;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
  min-width: 800px;
}

.cleared
{
  display:block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height:0;
  overflow:hidden;
}

.reset-box
{
  overflow:hidden;
  display:table; 
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

/* end Page */

/* begin Box, Sheet */
.sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 43px;
  min-height: 43px;
  margin-top: 7px;
  margin-bottom: -3px;
  cursor:auto;
  width: 800px;
}

.sheet-body
{
  position: relative;
  padding: 3px;
    padding-top:3px;
    padding-bottom:3px;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl, .sheet-tc, .sheet-bc,.sheet-cr, .sheet-cl
{
  position: absolute;
}

.sheet-tr, .sheet-tl, .sheet-br, .sheet-bl
{
  width: 54px;
  height: 54px;
  background-image: url('images/sheet_s.png');
}

.sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 27px, 27px, auto);
}

.sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 27px, 27px);
}

.sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(27px, 27px, auto, auto);
}

.sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(27px, auto, auto, 27px);
}

.sheet-tc, .sheet-bc
{
  left: 27px;
  right: 27px;
  height: 54px;
  background-image: url('images/sheet_h.png');
}

.sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 27px, auto);
}

.sheet-bc
{
  bottom: 0;
  clip: rect(27px, auto, auto, auto);
}

.sheet-cr, .sheet-cl
{
  top: 27px;
  bottom: 27px;
  width: 54px;
  background-image: url('images/sheet_v.png');
}

.sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 27px);
}

.sheet-cl
{
  left: 0;
  clip: rect(auto, 27px, auto, auto);
}

.sheet-cc
{
  position: absolute;
  top: 27px;
  left: 27px;
  right: 27px;
  bottom: 27px;
  background-color: #151613;
}

#page-background-top-texture, #page-background-middle-texture{
  min-width: 800px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.hmenu a, .hmenu a:link, .hmenu a:visited, .hmenu a:hover
{
    outline: none;
}

.hmenu, .hmenu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.hmenu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.hmenu li li
{
  float: none;
}

.hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
  min-height: 0;
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.hmenu:after, .hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.hmenu{
  min-height: 0;
  position:relative;
  padding: 0 15px 0 15px;
}

.hmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

/* menu structure */

.nav
{
   position: relative;
  margin:0 auto;
  min-height: 28px;
  z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-outer
{
    position:absolute;
    width:100%;
}

.nav-l, .nav-r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.nav-l
{
  left: 0;
  right: 15px;
}

.nav-r
{
  right: 0;
  width: 794px;
  clip: rect(auto, auto, auto, 779px);
}

/* end Menu */

/* begin MenuItem */
.hmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.hmenu ul li
{
    margin:0;
    clear: both;
}

.hmenu a .r, .hmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 94px;
  background-image: url('images/menuitem.png');
}

.hmenu a .l
{
  left: 0;
  right: 0;
}

.hmenu a .r
{
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.hmenu a .t, .hmenu ul a, .hmenu a:link, .hmenu a:visited, .hmenu a:hover
{
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.hmenu a .t
{
  color: #D0D1CC;
  padding: 0 17px;
  margin: 0 0;
  line-height: 28px;
  text-align: center;
}

.hmenu a:hover .l, .hmenu a:hover .r
{
  top: -33px;
}

.hmenu li:hover>a .l, .hmenu li:hover>a .r
{
  top: -33px;
}

.hmenu li:hover a .l, .hmenu li:hover a .r
{
  top: -33px;
}
.hmenu a:hover .t
{
  color: #1F2117;
}

.hmenu li:hover a .t
{
  color: #1F2117;
}

.hmenu li:hover>a .t
{
  color: #1F2117;
}

.hmenu a.active .l, .hmenu a.active .r
{
  top: -66px;
}

.hmenu a.active .t
{
  color: #000000;
}
/* end MenuItem */

/* begin MenuSeparator */
.hmenu .hmenu-li-separator
{
  display: block;
  width: 0;
  height:28px;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 26px;
  width: 180px;
  overflow: hidden;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #A0A880;
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #22231F;
  font-weight: normal;
  font-size: 13px;
  margin:0;
  padding:0;
}

.nav ul.hmenu ul span, .nav ul.hmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.hmenu ul a:link, .hmenu ul a:visited, .hmenu ul a:hover, .hmenu ul a:active, .nav ul.hmenu ul span, .nav ul.hmenu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #22231F;
  font-weight: normal;
  font-size: 13px;
  margin:0;
  padding:0;
}

.hmenu ul li a:hover
{
  color: #000000;
  border-color: #727467;
  background-position: 0 -26px;
}

.hmenu ul li:hover>a
{
  color: #000000;
  border-color: #727467;
  background-position: 0 -26px;
}

.nav .hmenu ul li a:hover span, .nav .hmenu ul li a:hover span span
{
  color: #000000;
}

.nav .hmenu ul li:hover>a span, .nav .hmenu ul li:hover>a span span
{
  color: #000000;
}

/* end MenuSubItem */

/* begin Header */
div.header
{
    margin: 0 auto;
  position: relative;
  width:100%;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

div.header-clip
{
  position: absolute;
  width:100%;
  left:0;
  overflow:hidden;
  height:150px;
}

div.header-center
{
	position: relative;
	width: 794px;
	left:50%;
}

div.header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 794px;
  height: 150px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
/* end Header */

/* begin Logo */
div.logo
{
  display: block;
  position: absolute;
  top: 43px;
  left: 0;
  margin-left: 12px;
}

h1.logo-name
{
  display: block;
  text-align: left;
  font-size: 36px;
  padding: 0;
  margin: 0;
  color: #262B0D !important;
}
h1.logo-name a, 
h1.logo-name a:link, 
h1.logo-name a:visited, 
h1.logo-name a:hover
{
  font-size: 36px;
  padding: 0;
  margin: 0;
  color: #262B0D !important;
}

h2.logo-text
{
  display: block;
  text-align: left;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #262B0D !important;
}
h2.logo-text a,
h2.logo-text a:link,
h2.logo-text a:visited,
h2.logo-text a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #262B0D !important;
}

#headline, #slogan 
{
    display: block;
    min-width: 150px;
    text-align: left;
}
/* end Logo */

/* begin Layout */
.content-layout
{
  display: table;
  position:relative;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
  width:100%;
  margin-top:0;
  margin-bottom:0;
}
.layout-cell, .content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none;
  margin:0;
  padding:0;
}

.content-layout .content-layout{margin:0;}
.content-layout .layout-cell, .content-layout .layout-cell .content-layout .layout-cell{display: table-cell;}
.layout-cell .layout-cell{display: block;}
.content-layout-row {display: table-row;}
.layout-glare{position:relative;}/* end Layout */

/* begin Button */
.button-wrapper a.button,
.button-wrapper a.button:link,
.button-wrapper input.button,
.button-wrapper button.button
{
  text-decoration: none;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #1D1E1A !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 36px;
  height: 36px;
  margin: 0 !important;
  padding: 0 26px !important;
  overflow: visible;
  cursor: pointer;
}

.button img, .button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.block select 
{
    width:96%;
}

.button-wrapper.hover .button, .button-wrapper.hover a.button:link, .button:hover
{
  color: #EDF2D4 !important;
  text-decoration: none !important;
}

.button-wrapper.active .button, .button-wrapper.active a.button:link
{
  color: #1F2117 !important;
}

.button-wrapper .button-l, .button-wrapper .button-r
{
  display: block;
  position: absolute;
  height: 118px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.button-wrapper .button-l
{
  left: 0;
  right: 17px;
}

.button-wrapper .button-r
{
  width: 423px;
  right: 0;
  clip: rect(auto, auto, auto, 406px);
}

.button-wrapper.hover .button-l, .button-wrapper.hover .button-r
{
  top: -41px;
}

.button-wrapper.active .button-l, .button-wrapper.active .button-r
{
  top: -82px;
}

.button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Block */
.block
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 10px;
}

.block-body
{
  position: relative;
  padding: 3px;
}

div.block img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 0;
    border-color: #848778;
  border-style: solid;
  margin: 10px;
}

/* end Box, Block */

/* begin Box, BlockContent */
.blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.blockcontent-body
{
  position: relative;
  padding: 0;
  color: #C2C7AD;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.blockcontent-body table,
.blockcontent-body li, 
.blockcontent-body a,
.blockcontent-body a:link,
.blockcontent-body a:visited,
.blockcontent-body a:hover
{
  color: #C2C7AD;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 13px;
}

.blockcontent-body p
{
  margin: 6px 0;
}

.blockcontent-body a, .blockcontent-body a:link
{
  color: #CDDB8A;
  text-decoration: underline;
}

.blockcontent-body a:visited, .blockcontent-body a.visited
{
  color: #BBC1A4;
  text-decoration: underline;
}

.blockcontent-body a:hover, .blockcontent-body a.hover
{
  color: #DCE6AD;
  text-decoration: none;
}

.blockcontent-body ul li
{
  line-height: 125%;    
  color: #CBCFB9;
  padding: 0 0 0 14px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Box, Post */
.post
{
  position: relative;
  min-width: 1px;
  min-height: 1px;
  margin: 5px;
}

.post-body
{
  position: relative;
  padding: 7px;
}

a img
{
  border: 0;
}

.article img, img.article, .block img, .footer img
{
  border: solid 1px #848778;
  margin: 10px;
}

.metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.article table, table.article
{
  border-collapse: collapse;
  margin: 1px;
}

.article th, .article td
{
  padding: 2px;
  border: solid 1px #444932;
  vertical-align: top;
  text-align: left;
}

.article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.postheader
{
  color: #CDDB8A;
  margin: 6px 0;
  font-size: 26px;
  letter-spacing: normal;
}

h2.postheader a, 
h2.postheader a:link, 
h2.postheader a:visited,
h2.postheader a.visited,
h2.postheader a:hover,
h2.postheader a.hovered
{
  font-size: 26px;
  letter-spacing: normal;
}

h2.postheader a, h2.postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #C3D373;
}

h2.postheader a:visited, h2.postheader a.visited
{
  color: #C2C7AD;
}

h2.postheader a:hover,  h2.postheader a.hovered
{
  text-decoration: underline;
  color: #CAD883;
}

h2.postheader img
{
  border: none !important;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.postheadericons,
.postheadericons a,
.postheadericons a:link,
.postheadericons a:visited,
.postheadericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  color: #ABB28F;
}

.postheadericons
{
  padding: 1px;
}

.postheadericons a, .postheadericons a:link
{
  text-decoration: underline;
  letter-spacing: 1px;
  color: #B0B2A9;
}

.postheadericons a:visited, .postheadericons a.visited
{
  color: #B0B2A9;
}

.postheadericons a:hover, .postheadericons a.hover
{
  text-decoration: none;
  color: #5F6156;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.post ol, .post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.post li
{
  font-size: 13px;
  text-align: left;
  color: #A4A69B; 
  margin: 0 0 0 12px;
  padding: 0 0 0 14px;
}

.post li ol, .post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.post ol>li
{
  background: none;
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 14px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
.postcontent blockquote,
.postcontent blockquote a,
.postcontent blockquote a:link,
.postcontent blockquote a:visited,
.postcontent blockquote a:hover
{
  color: #151707;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}

.postcontent blockquote p
{
   margin: 17px 0 17px 17px;
}

.postcontent blockquote
{
   border: solid 0 #848778;
  margin: 10px 10px 10px 50px;
  padding: 2px 2px 2px 30px;
  background-color: #EDF2D4;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
  clear:both;
}

/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.postmetadatafooter
{
  overflow:hidden;
  padding: 1px;
  background-color: #EBECE4;
  border-color: #A0A880;
  border-style: dashed;
  border-width: 0;
}
/* end PostMetadata, PostMetadataFooter */

/* begin PostIcons, PostFooterIcons */
.postfootericons,
.postfootericons a,
.postfootericons a:link,
.postfootericons a:visited,
.postfootericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  color: #14150F;
}

.postfootericons
{
  padding: 1px;
}

.postfootericons a, .postfootericons a:link
{
  text-decoration: underline;
  letter-spacing: 1px;
  color: #52544A;
}

.postfootericons a:visited, .postfootericons a.visited
{
  color: #52544A;
}

.postfootericons a:hover, .postfootericons a.hover
{
  text-decoration: none;
  color: #000000;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.footer
{
  position: relative;
  margin-top:0;
  margin-bottom:0;
  width: 100%;
}

.footer-b 
{
  position: absolute;
  left:15px;
  right:15px;
  bottom:0;
  height:50px;
  background-image: url('images/footer_b.png');
}

.footer-r, .footer-l
{
  position: absolute;
  height:50px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.footer-l
{
  left: 0;
  width:15px;
}

.footer-r
{
  right: 0;
  width:30px;
  clip: rect(auto, auto, auto, 15px);
}

.footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #353630;
}

.footer-body
{
    position:relative;
    padding: 15px;
}

.footer-body .rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:15px;
  z-index:1;
}

.rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 27px;
  width: 26px;
  cursor: default;
}

.footer-text p
{
  padding:0;
  margin:0;
  text-align: center;
}

.footer-text,
.footer-text a,
.footer-text a:link,
.footer-text a:visited,
.footer-text a:hover,
.footer-text td, 
.footer-text th,
.footer-text caption
{
    color: #DDE0D2;
    font-style: italic;
    font-size: 12px;
}

.footer-text
{
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.footer-text a,
.footer-text a:link
{
  color: #CAD883;
  text-decoration: underline;
}

.footer-text a:visited
{
  color: #C6CBB3;
}

.footer-text a:hover
{
  color: #91C247;
  text-decoration: none;
}

div.footer img
{
/* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 0;
    border-color: #848778;
  border-style: solid;
  margin: 10px;
}/* end Footer */

/* begin PageFooter */
.page-footer, 
.page-footer a,
.page-footer a:link,
.page-footer a:visited,
.page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #353630;
}

.page-footer
{
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #393D29;
}
/* end PageFooter */

/* begin LayoutCell, content */

.content-layout .content .block
{
  background-image: url('images/sidebar_bg.png');
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar1 */

.content-layout .sidebar1
{
  background-image: url('images/sidebar_bg.png');
  width: 225px;
}

/* end LayoutCell, sidebar1 */


